{% extends 'notes/base_generic.html' %}


{% block content %}

    {% if user.is_authenticated %}
        <h2 class="text-center my-4">Your Notes</h2>

        <div class="list-group">
            {% for note in notes %}
            <a href="{% url 'note_detail' note.id %}" class="list-group-item list-group-item-action">
                {{ note.title }}
            </a>
            {% empty %}
            <p class="text-center">You have no notes.</p>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-center">Please log in to see your notes.</p>
    {% endif %}

    <a href="{% url 'home' %}" class="btn btn-secondary mt-3">Home</a>

{% endblock content %}
